:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
}

.header,
.section,
.aside {
  box-sizing: content-box;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  background-color: var(--blue);
}

.section {
  display: inline-block;
  width: 71%;
  height: 300px;
  background-color: var(--orange);
  box-shadow: -5px 0 0 0 black, /* Adjust shadow position and color */
  5px 0 0 0 black;
}

.aside {
  float: right;
  width: 25%;
  height: 300px;
  background-color: var(--gold);
  box-shadow: -5px 0 0 0 black, /* Adjust shadow position and color */
  5px 0 0 0 black;
}
